/* Create root for color variables to be used throughout the page */
:root {
  --header: #232f3e;
  --white: #fff;
  --section: #1d428a;
  --red: #8b2131;
  --yellow: #fec524;
}

header {
  color: var(--white);
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: var(--red);
  border-bottom-width: 5px;
  font-family: roboto slab, sans-serif;
  color: var(--yellow);
}

h1 {
  font-size: 200%;
}

nav {
  font-size: 125%;
  width: 33%;
  display: flex;
  justify-content: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  text-decoration: underline var(--red);
}

.nav-link:link,
.nav-link:visited {
  color: var(--yellow);
  text-decoration: underline var(--red);
}
main {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.section-style {
  width: 100%;
  margin: 20px auto;
  display: flex;
}

.section-style p {
  max-width: 66%;
  font-size: 90%;
  padding: 20px;
  flex: 2 0 auto;
  border-left-style: solid;
  border-left-color: var(--red);
}

.section-title {
  padding: 20px;
  color: var(--section);
  font-size: 200%;
  width: 33%;
  font-family: roboto slab, sans-serif;
  display: flex;
  justify-content: flex-end;
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left-style: solid;
  border-left-color: var(--red);
  width: 66%;
  padding: 20px;
}

#wide {
  flex: 90%;
  background-color: var(--red);
  min-height: 300px;
  text-align: center;
  margin: 5px;
}
.work-examples a {
  flex: 45%;
  text-align: center;
  min-height: 300px;
  background-color: var(--section);
  margin: 5px;
  color: var(--white);
}

.contact {
  border-left-style: solid;
  border-left-color: var(--red);
  width: 66%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.contact ul {
  background-color: var(--header);
  padding: 5px;
  flex: 90%;
  color: var(--yellow);
  font-family: roboto slab, sans-serif;
  display: flex;
  font-size: 150%;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  height: 125%;
}
