/* Create root for color variables to be used throughout the page */
:root {
  --header: #232f3e;
  --white: #fff;
  --section: #1D428A;
  --red: #8B2131;
  --yellow: #FEC524;
}

header {
  color: var(--white);
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  padding: 35px;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: var(--red);
  border-bottom-width: 5px;
  font-family: roboto slab, sans-serif;
  color: var(--yellow);
}

h1 {
  font-size: 200%;
  
}

nav {
  font-size: 125%;
  width: 33%;
  display: flex;
  justify-content: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  text-decoration: underline var(--red);
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.aboutMe {
  width: 100%;
  margin: 20px auto;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutMe p{
  max-width: 50%;
  font-size: 90%;
  padding: 20px;
  flex: 2 0 auto;
  border-left-style: solid;
  border-left-color: var(--red);
}

.section-title {
  padding: 20px;
  color: var(--section);
  font-size: 200%;
  width: 33%;
  min-height: 100%;
  font-family: roboto slab, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.work-examples {
  height: 1000px;
}
