/* Create root for color variables to be used throughout the page */
:root {
  --header: #232f3e;
  --white: #fff;
  --section: #1D428A;
}


header {
  color: var(--white);
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}

h1 {
  font-size: 200%;
}

nav {
  font-size: 125%;
  width: 33%;
  display: flex;
  justify-content: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;
  flex-direction: column;
}

.aboutMe {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutMe p{
  padding: 40px;
}

.section-title {
  padding: 20px;
  color: var(--section);
  font-size: 200%;
  width: 33%;
  height: 90%;
  border: solid green;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
